*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Gagalin-Regular;
    src: url("../font/Gagalin-Regular.otf");
}

body{
    width: 100%;
    min-height: 100vh; 
    font-family: Gagalin-Regular;
    font-weight: 100;
}

header{
    display: flex;
    flex-direction: row;
    background-color: #000;
}

#logo{
    width: 22%;
}

#contato-cabecalho{
    color: #f0f0f0;
    font-weight: 100;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 9%;
    transition: transform 0.5s ease-in-out; /* Adiciona uma transição suave para a propriedade transform */
    animation: pulse 1s infinite; /* Adiciona uma animação para pulsar a cada 1 segundo */
}

a{
    color: white;
    text-decoration: none;
}

#message{
    margin-top: 15%;
    display: grid;    
    place-items: center;
}

#textarea{
    background-color: #252525;
    color: white;
    font-family: Gagalin-Regular;
}

section{
    background-image: url("../img/Laptop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed;
    height: 800px;
    opacity: 0.8;
}

#services{
    color: white;
    font-size: 32px;
    width: 25%;
    font-weight: 100;
    margin-left: 5%;
    padding-top: 10%;
}

#paragrafo-services{
    color: white;
    font-size: 19px;
    width: 25%;
    font-weight: 100;
    margin-left: 5%;
    margin-top: 4%;
}

.btn {
    margin-left: 5%;
    margin-top: 6%;
    background-color: #00ff00;
    box-shadow: #00ff00 4px 4px 4px;
    color: white;
    font-size: 28px;
    padding: 2%;
    border-radius: 24px;
    transition: transform 0.5s ease-in-out; /* Adiciona uma transição suave para a propriedade transform */
    animation: pulse 1s infinite; /* Adiciona uma animação para pulsar a cada 1 segundo */
    font-family: Gagalin-Regular;
    font-weight: 100;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.04);
    }
    100% {
        transform: scale(1);
    }
}

footer{
    background-color: #000;
    padding-top: 3%;
    color: white;
    height: 1000px;
    max-width: 100%;
}

#form{
    margin-top: 10%;
    display: grid;
    justify-content: center;
    font-size: 22px;
    width: 100%;
}

#form-heading{
    text-align: center;
    margin-top: 3%;
    font-size: 40px;
}

#div-name, #div-email{
    display: flex;
    margin-top: 10%;
}

#name, #email{
    margin-left: 2%;
    height: 60%;
    width: 100%;
}

input{
    background-color: #252525;
    border: 1px solid white;
    border-radius: 4px;
    width: 100%;
    color: white;
    font-family: Gagalin-Regular;
}

#footer-btn{
    display: flex;
    margin-top: 40%;
    margin-left: auto;
    margin-right: auto;
    background-color: #00ff00;
    box-shadow: #00ff00 4px 4px 4px;
    color: white;
    font-size: 28px;
    padding: 2%;
    border-radius: 16px;
    transition: transform 0.5s ease-in-out; /* Adiciona uma transição suave para a propriedade transform */
    animation: pulse 1s infinite; /* Adiciona uma animação para pulsar a cada 1 segundo */
    font-family: Gagalin-Regular;
    font-weight: 100;
}

@media screen and (max-width:837px) {
    #logo{
        width: 30%;
    }   

}

@media screen and (max-width:565px) {
    #contato-cabecalho{
        font-size: 12px;
    }

    #services{
        font-size: 20px;
    }
    
    #paragrafo-services{
        font-size: 12px;
    }

    .btn{
        font-size: 18px;
        border-radius: 16px;
    }

    section{
        height: 500px;
    }

}

@media screen and (max-width:520px) {
    #logo{
        width: 40%;       
    }

    #contato-cabecalho{
        margin-right: 2%;
    }

    
}

@media screen and (max-width:381px) {
    #contato-cabecalho{
        font-size: 7px;
        margin-right: 14%;
    }   

    #footer-btn{
        font-size: 20px;       
    }

    footer{
        height: 600px;
    }

    #form-heading{
        font-size: 18px;
    }

    #div-name, #div-email, #message{
        font-size: 12px;
    }

    #name, #email{
        width: 60%;
    }
}

 @media screen and (min-width:1440px) {
    section, footer{
        height: 1200px;
    }

    #textarea{
        width: 150%;
    }
    .btn{
        font-size: 42px;
    }

    #footer-btn{
        font-size: 32px;
    }
 }

